@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

#Header {
    background-color: #0f0f10;
}

#Header h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #7ccbc8;
    text-decoration: none;
}

#Header .tel {
    color: #7ccbc8;
}

#Header .tel:hover {
    color: #95efec;
    cursor: pointer;
}

#Header p {
    color: white;
}

#Header i {
    color: #7ccbc8;
    font-size: 15px;
}

.underline {
    text-decoration: underline;
}

#pre-nav {
    margin: 15px 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

#pre-nav h1 {
    font-size: 5em;
    font-family: 'Open Sans Condensed', sans-serif;
}

#pre-nav p {
    font-size: 2rem;
}

.image .wrapp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.first {
    color: #e1e1e1;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.first:hover {
    /*background: rgba(0, 0, 0, 0.5);*/
    color: white;
}

.second {
    color: #e1e1e1;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.second:hover {
    color: white;
    /*background: rgba(0, 0, 0, 0.5);*/
}

.first h1 a {
    font-size: 7rem;
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.second h1 a {
    font-size: 7rem;
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}


.image {
    height: 1260px;
    background-image: url("/assets/image/IMG_5174.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.image #menu {
    flex: 0;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 15px;
}

.image .wrapp a {
    font-size: 7rem;
    color: #e1e1e1;
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    padding: 15px 0;
    height: auto;
    background-color: #f5f5f5;
    color: gray;
}

#right {
    border-right: 1px solid whitesmoke;
}

#right:hover {
    border-right: 1px solid white;
    cursor: pointer;
    color: white;
}

#left {
    margin: 5px 0;
    border-left: 1px solid whitesmoke;
}

#left:hover {
    border-left: 1px solid white;
    cursor: pointer;
    color: white;
}