<div class="ui container">
    <form action="" method="post" class="ui form">
        <h2>База данных</h2>
        <input type="text" name="db_host" placeholder="Сервер">
        <input type="text" name="db_user" placeholder="Пользователь">
        <input type="text" name="db_password" placeholder="Пароль">
        <input type="text" name="db_schema" placeholder="Схема">
        <h2>Аккаунт адмнистратора</h2>
        <input type="text" name="login" placeholder="Логин">
        <input type="text" name="password" placeholder="Пароль">
        <h2>Кол-во книг на странице</h2>
        <input type="text" name="count" placeholder="4">
        <input class="ui button" type="button" value="Установить" onclick="install(this.form)">
    </form>
</div>